.asd-border {
    width: 540px;
    display: inline-block;
    vertical-align: top;
}

.asd-container {
    padding: 20px;
}

.asd-create-container {
    display: inline-block;
}

.asd-row {
    display: block;
    margin-bottom: 10px;
}

.asd-name-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.asd-firstname-row {
    display: inline-block;
    width: 48%;
}

.asd-lastname-row {
    display: inline-block;
    width: 48%;
    margin-left: 4%;
}

.asd-address-row {
    display: inline-block;
    width: 100%;
}

.asd-address-street {
    width: 74%;
}

.asd-address-number {
    width: 22%;
    margin-left: 4%;
}

.asd-address-zipcode {
    width: 18%;
    margin-top: 2%;
}

.asd-address-city {
    width: 78%;
    margin-left: 4%;
    margin-top: 2%;
}

.asd-contact-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.asd-phone-row {
    display: inline-block;
    width: 48%;
}

.asd-fax-row {
    display: inline-block;
    width: 48%;
    margin-left: 4%;
}

.asd-label {
    width: 100%;
}

.asd-input {
    width: 100%;
}