.children-container {
    margin: 20px;
    background-color: #ffc38d;
    border-radius: 10px;
}

.children-components {
    display: inline-block;
    width: 100%;
    padding: 0 20px;
}

.children-submit {
    font-size: 30px;
    font-weight: bold;
    background-color: lightgrey;
    width: 100%;
}