.childdoctor-border {
    width: 540px;
    display: inline-block;
    vertical-align: top;
}

.childdoctor-container {
    padding: 20px;
}

.childdoctor-create-container {
    display: inline-block;
}

.childdoctor-row {
    display: block;
    margin-bottom: 10px;
}

.childdoctor-address-row {
    display: inline-block;
    width: 100%;
}

.childdoctor-address-street {
    width: 74%;
}

.childdoctor-address-number {
    width: 22%;
    margin-left: 4%;
}

.childdoctor-address-zipcode {
    width: 18%;
    margin-top: 2%;
}

.childdoctor-address-city {
    width: 78%;
    margin-left: 4%;
    margin-top: 2%;
}

.childdoctor-contact-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.childdoctor-phone-row {
    display: inline-block;
    width: 48%;
}

.childdoctor-fax-row {
    display: inline-block;
    width: 48%;
    margin-left: 4%;
}

.childdoctor-label {
    width: 100%;
}

.childdoctor-input {
    width: 100%;
}