.foodsupplier-border {
    width: 540px;
    display: inline-block;
    vertical-align: top;
}

.foodsupplier-container {
    padding: 20px;
}

.foodsupplier-create-container {
    display: inline-block;
}

.foodsupplier-row {
    display: block;
    margin-bottom: 10px;
}

.foodsupplier-contact-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.foodsupplier-phone-row {
    display: inline-block;
    width: 48%;
}

.foodsupplier-fax-row {
    display: inline-block;
    width: 48%;
    margin-left: 4%;
}

.foodsupplier-label {
    width: 100%;
}

.foodsupplier-input {
    width: 100%;
}