.guardian-border {
    width: 540px;
    display: inline-block;
    vertical-align: top;
}

.guardian-container {
    padding: 20px;
}

.guardian-create-container {
    display: inline-block;
}

.guardian-row {
    display: block;
    margin-bottom: 10px;
}

.guardian-contact-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.guardian-phone-row {
    display: inline-block;
    width: 48%;
}

.guardian-fax-row {
    display: inline-block;
    width: 48%;
    margin-left: 4%;
}

.guardian-label {
    width: 100%;
}

.guardian-input {
    width: 100%;
}