.healthinsurance-border {
    width: 540px;
    display: inline-block;
    vertical-align: top;
}

.healthinsurance-container {
    padding: 20px;
}

.healthinsurance-create-container {
    display: inline-block;
}

.healthinsurance-row {
    display: block;
    margin-bottom: 10px;
}

.healthinsurance-holder-number-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.healthinsurance-holder-row {
    display: inline-block;
    width: 48%;
}

.healthinsurance-number-row {
    display: inline-block;
    width: 48%;
    margin-left: 4%;
}

.healthinsurance-address-row {
    display: inline-block;
    width: 100%;
}

.healthinsurance-address-street {
    width: 74%;
}

.healthinsurance-address-number {
    width: 22%;
    margin-left: 4%;
}

.healthinsurance-address-zipcode {
    width: 18%;
    margin-top: 2%;
}

.healthinsurance-address-city {
    width: 78%;
    margin-left: 4%;
    margin-top: 2%;
}

.healthinsurance-contact-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.healthinsurance-phone-row {
    display: inline-block;
    width: 48%;
}

.healthinsurance-fax-row {
    display: inline-block;
    width: 48%;
    margin-left: 4%;
}

.healthinsurance-label {
    width: 100%;
}

.healthinsurance-input {
    width: 100%;
}