.input-border {
    width: 540px;
    display: inline-block;
    vertical-align: top;
}

.input-container {
    padding: 20px;
}

.input-create-container {
    display: inline-block;
    width: 100%;
}

.input-row {
    display: block;
    margin-bottom: 10px;
}

.input-sub-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.input-half-row-first {
    display: inline-block;
    width: 48%;
}

.input-half-row-second {
    display: inline-block;
    width: 48%;
    margin-left: 4%;
}

.appointment-half-row-first {
    display: inline-block;
    width: 90%;
    vertical-align: top;
}

.appointment-half-row-second {
    display: inline-block;
    width: 8%;
    margin-left: 2%;
    vertical-align: top;
}

.appointment-add-button {
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    background-color: lightgrey;
    width: 100%;
}

.interval-row-first {
    display: inline-block;
    width: 10%;
    vertical-align: top;
}

.interval-row-second {
    display: inline-block;
    width: 36%;
    margin-left: 2%;
    vertical-align: top;
}

.interval-row-third {
    display: inline-block;
    width: 10%;
    margin-left: 2%;
    vertical-align: top;
    text-align: center;
}

.interval-row-forth {
    display: inline-block;
    width: 36%;
    margin-left: 2%;
    vertical-align: top;
}

.input-address-row {
    display: inline-block;
    width: 100%;
}

.input-address-street {
    width: 74%;
}

.input-address-number {
    width: 22%;
    margin-left: 4%;
}

.input-address-zipcode {
    width: 18%;
    margin-top: 2%;
}

.input-address-city {
    width: 78%;
    margin-left: 4%;
    margin-top: 2%;
}

.image-container {
    padding: 20px;
    height: 372px;
}

.image-create-container {
    display: inline-block;
    width: 100%;
    height: 290px;
}

.image-row {
    display: inline-block;
    width: 100%;
}

.image-holder {
    display: inline-block;
    width: 100%;
    height: 250px;
    margin-bottom: 2%;
    text-align: center;
    border: black solid 4px;
}

.image-element {
    width: 500px;
    height: 250px;
}

.image-input {
    width: 95%;
}

.image-delete {
    width: 5%;
    height: 25px;
}

.input-label {
    width: 100%;
}

.input-input {
    width: 100%;
}

.input-select {
    width: 100%;
}

.input-select[aria-readonly = true] {
    pointer-events: none;
}

.input-select[aria-readonly = false] {
    pointer-events: auto;
}

.textarea-input {
    width: 100%;
    resize: none;
}