.living-group-container {
    max-width: 1050px !important;
    padding: 40px 40px;
    background-color: #ffc38d;
    border-radius: 10px;
    margin: 0 auto 25px;
    margin-top: 50px;
}

.living-group-create-panel {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
}

.living-group-label {
    width: 20%;
}

.living-group-input {
    width: 59%;
    margin-left: 1%;
}

.living-group-submit {
    width: 15%;
    margin-left: 5%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    background-color: lightgrey;
}

.living-group-cell {
    margin-left: 10px;
}
