.login-container {
    max-width: 350px !important;
    padding: 40px 40px;
    background-color: #ffc38d;
    border-radius: 10px;
    margin: 0 auto 25px;
    margin-top: 50px;
}

.login-panel {
    margin-top: 20px;
}

.login-row {
    display: block;
    margin-bottom: 10px;
}

.button-row {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.alert-row {
    color: #842029;
    background-color: #f8d7da;
    position: relative;
    padding: 1rem 1rem;
    margin-top: 20px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem
}

.login-label {
    width: 100%;
}

.login-input {
    width: 100%;
}

.login-submit {
    font-size: 24px;
    font-weight: bold;
    border-radius: 30px;
    background-color: lightgrey;
}