.header {
    display: inline-block;
    background-color: lightsalmon;
    width: 100%;
    border-bottom: black solid 4px;
}

.left {
    text-align: center;
    display: inline-block;
    width: 15%;
    border-right: black solid 4px;
    padding-top: 12px;
}

.left li {
    display: inline-block;
}

.left li a {
    cursor: default;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.middle {
    display: inline-block;
    width: 70%;
    padding-top: 12px;
}

.middle-panel {
    display: inline-block;
}

.middle-action-panel {
    display: inline-block;
}

.middle-action-panel li {
    display: inline-block;
}

.right {
    /*text-align: center;*/
    display: inline-block;
    width: 15%;
    border-left: black solid 4px;
    padding-top: 12px;
}

.right li {
    display: inline-block;
    padding-left: 40px;
}

.right li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.right li a:hover{
    color: blue;
    border: darkmagenta;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bolder;
}

.right-panel {
    display: inline-block;
}

.navBar {
    display: inline-block;
}

.navBar li {
    display: inline-block;
    padding-left: 40px;
}

.navBar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.navBar li a:hover{
    color: blue;
    border: darkmagenta;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bolder;
}

.navBar li a:active{
    background-color: deepskyblue;
    border-radius: 5px;
}

/*
.middle {
    background-color: aqua;
    display: inline-block;
    width: 70%;
    margin: auto;
    padding: 18px 17px;
}

.navBar{
    display:inline-block;
}

.navBar li{
    list-style: none;
    display:inline-block;

}

.navBar li a{
    text-decoration: none;
    color:rgb(29, 25, 231);
    font-size: 18px;
    padding:8px 20px;
}

.navBar li a:hover{
    color:rgb(151, 7, 247);
    border: darkmagenta;
    border-radius: 2px;
    font-size: 20px;
}

.navBar li a:active{
    background-color: deepskyblue;
    border-radius: 5px;
}
.right {
    background-color: aqua;
    display: inline-block;
    width: 15%;

    font-size: 18px;
    padding: 18px 26px;
    color: #1d19e7;
}

.right a{
    text-decoration:none;
}
.right:hover{
    font-weight:bolder;
}

.right li{
    list-style: none;
    display: inline-block;
}

.left {
    background-color: lightsalmon;
    display: inline-block;
    width: 15%;
    font-size: 18px;
    padding: 18px 17px;
    color: #1d19e7;
}
.left a{
    text-decoration:none;
}
.left:hover{
    font-weight:bolder;
}*/
