.person-border {
    width: 540px;
    display: inline-block;
}

.person-container {
    padding: 20px;
}

.person-create-container {
    display: inline-block;
}

.person-row {
    display: block;
    margin-bottom: 10px;
}

.person-name-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.person-firstname-row {
    display: inline-block;
    width: 48%;
}

.person-lastname-row {
    display: inline-block;
    width: 48%;
    margin-left: 4%;
}

.person-address-row {
    display: inline-block;
    width: 100%;
}

.person-address-street {
    width: 74%;
}

.person-address-number {
    width: 22%;
    margin-left: 4%;
}

.person-address-zipcode {
    width: 18%;
    margin-top: 2%;
}

.person-address-city {
    width: 78%;
    margin-left: 4%;
    margin-top: 2%;
}

.person-contact-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.person-phone-row {
    display: inline-block;
    width: 48%;
}

.person-fax-row {
    display: inline-block;
    width: 48%;
    margin-left: 4%;
}

.person-birthday-email-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.person-birthday-row {
    display: inline-block;
    width: 48%;
}

.person-email-row {
    display: inline-block;
    width: 48%;
    margin-left: 4%;
}

.person-label {
    width: 100%;
}

.person-input {
    width: 100%;
}