.text-border {
    width: 540px;
    display: inline-block;
    vertical-align: top;
}

.text-container {
    padding: 20px;
}

.text-create-container {
    display: inline-block;
}

.text-label {
    width: 100%;
}

.text-input {
    width: 100%;
    height: 100%;
    resize: none;
}